:root{
  --font-color: #f7f7f7;
  --dark-font-color: #404145;
  --first-gradient:linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  --second-gradient: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
  --third-gradient: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
    /* word-break: break-all; */
  }
  
  .app{
    background: #27385f;
    min-height: 100vh;
    z-index:100;
  }
  
  .header{
    text-align: center;
    background:rgba(0,0,0,0.1);
    padding: 10px 0;
    backdrop-filter: blur(5px);
    color: var(--font-color);
  }
  
  .container{
    min-height:70%;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .svg{
    background: transparent;
    position: absolute;
  }
  
  .card{
    min-height: 500px;
    width:500px;
    background:rgba(247, 247, 247, 0.993);
    border-radius:1rem;
    margin:90px 5%;
    backdrop-filter: blur(5px);
  }
  
  .title{
    text-align: center;
    font-size: 2.5rem;
    padding: 5px;
    color: var(--dark-font-color);
  }
  
  .item{
    /* height:50px; */
    background: #fff;
    margin:10px;
    border-radius: 1rem;
    display:flex;
    justify-content: space-between;
    animation: appear .3s;
    overflow: hidden;
  }
  
  .item span{
    font-size: 1.5rem;
    margin:15px;
    vertical-align: middle;
  }
  
  .btn ion-icon{
    color:#46457e;
    font-size:2rem;
    background: #f7f7f7;
    border-radius: .3rem;
    transition:all .3s;
  }

  .edit, .remove{
    margin:10px 10px 10px 0;
  }

  .clock{
    margin:0;
  }
  
  .btn .edit:hover,ion-icon[name='send']:hover,.clock:hover{
    color:#f7f7f7;
    background:#46457e;
    cursor:pointer;
  }
  
  .btn ion-icon[name="trash"]:hover{
    color:#fff;
    background:#e00202;
    cursor:pointer;
  }
  
  .btn ion-icon[name="trash"]{
    color:#e00202;
    background:#f7f7f7;
  }
  
  .credit{
    bottom: 0;
    color:var(--font-color);
    text-align: center;
    width: 100vw;
    padding:25px;
    background: rgba(0,0,0,0.1);
    position:absolute;
    border-radius:2rem 2rem 0 0;
    height:10%;
  }

  .credit a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 200;
  }
  
  input{
    height:50px;
    margin:10px;
    border:none;
    border-radius:1rem;
    width:80%;
    padding:7px;
    font-size: 1.3rem;
  }
  
  .submit{
    display:flex;
    border-top: 1px solid rgb(218, 218, 218);
  }
  
  .send{
    height:50px;
    margin:10px;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: 1rem;
    padding:0 10px;
  }

  .send ion-icon{
    margin: 5px;
  }
  
  .btn ion-icon[name='send']{
    margin:0;
  }

  .counter{
    min-height:50px;
    margin:10px;
    background: #fff;
    border-radius:1em;
    overflow: hidden;
    text-align: center;
    display: flex;
  }
  
  .btns, .count-info{
    /* padding:10px; */
    width:50%;
  }

  .btns{
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius: 1em 0 0 1em;
    height: 100%;
  }

  .btn-pomo, .btn-short, .btn-long{
    border: none;
    background: var(--first-gradient);
    color: var(--font-color);
    padding: 5px;
    font-size: 1.4em;
    transition: all .3s;
    height: 35px;
  }

  .btn-short{
    background: var(--second-gradient);
  }

  .btn-long{
    background: var(--third-gradient);
  }

  .btn-pomo:hover, .btn-short:hover, .btn-long:hover{
    /* background: #ffffff; */
    cursor: pointer;
    /* color: #27385f; */
    font-size: 2em;
    padding: 0;
    /* height: 40px; */
    /* border: .5px solid #27385f; */
  }

  @keyframes appear{
    from{
      height:0;
    }
    to{
      height:50px;
    }
  }

  @keyframes disappear{
    from{
      height:50px;
      opacity: 1;
    }
    to{
      transform:translateY(50px);
      opacity: 0;
      /* display: none; */
    }
  }

  .count-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .d-block{
    display:block !important;
  }

  .s-break, .l-break{
    display:none;
  }

  .d-none{
    display: none !important;
  }